@{
    ViewData["Title"] = "Login";
}

<div class="container-login">
    <form action="GET">
        <div>
            <label>E-mail</label>
            <input type="email" name="E-mail" id="email" placeholder="Digite seu e-mail">
        </div>
        <div>
            <label>Senha</label>
            <Input type="text" id="senha" placeholder="Digite sua senha">
        </div>
    </form>
</div>